body {
    background-color: #FDF9ED;
    margin: 0;
}

.customer-home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.customer-header {
    position: relative;
    background-image: url('/public/img/customerhome2.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    color: white;
    padding: 20px;
    z-index: 1;
}

.customer-header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.customer-header-1 {
    position: relative;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    box-sizing: border-box;
    z-index: 2;
}

.customer-header-2 {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-container {
    position: relative;
    width: 80%;
    max-width: 900px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}

.slider {
    display: flex;
    overflow: hidden;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
    /* 슬라이드 전환 효과 */
}

.slide {
    min-width: 100%;
    text-align: center;
    color: white;
    padding: 20px;
}

.slide h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.slide p {
    font-size: 18px;
}

/* .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border: none;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.arrow:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* .left {
    left: 10px;
}

.right {
    right: 10px;
} */

.dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    border: none;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #f0f0f0;
}

.dot:hover {
    background-color: #ddd;
}

.customer-logo {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-buttons button {
    background-color: transparent;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.header-buttons button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .customer-logo {
        font-size: 40px;
    }

    .header-buttons button {
        font-size: 16px;
        padding: 8px 15px;
    }
}

@media (max-width: 480px) {
    .customer-logo {
        font-size: 25px;
    }

    .header-buttons {
        gap: 5px;
    }

    .header-buttons button {
        font-size: 12px;
        padding: 8px 15px;
    }
}

.content {
    position: relative;
    top: -40px;
    z-index: 1;
    background-color: #f9f9f9;
}

.map-section {
    position: relative;
    background-color: #f9f9f9;
}

.map-content {
    text-align: center;
    margin-bottom: 30px;
}

.map-content h2 {
    font-size: 2.5rem;
    color: #4d826a;
    margin-bottom: 15px;
}

.input-container {
    text-align: center;
}

.address-input {
    width: 80%;
    padding: 15px;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-top: 20px;
    transition: 0.3s;
}

.address-input:focus {
    outline: none;
    border-color: #000000;
}

.map-container {
    width: 80%;
    padding: 15px;
    height: 400px;
    margin: 30px auto;
    background-color: #eaeaea;
}

.sort-options {
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #4d826a;
    flex-direction: column;
}

.sort-options h2 {
    font-size: 30px;
    text-align: center;
    color: white;
}

.options-button {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.sort-options button {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.sort-options button img {
    width: 40px;
    height: 40px;
}

.sort-options button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

.store-list {
    padding: 30px 40px;
    background-color: #FDF9ED;
    overflow-x: auto; /* 가로 스크롤 허용 */
}

.stores {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 가로로 4개 고정 */
    gap: 20px;
    justify-content: center; 
    width: 100%;
    max-width: 1200px; 
    margin: 30px auto;
}

.store-card {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s, box-shadow 0.3s;
}

.store-card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.store-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #e0e0e0;
}

.store-info {
    padding: 15px;
    text-align: center;
    overflow: hidden; /* 넘치는 콘텐츠 숨기기 */
    text-overflow: ellipsis; /* 넘칠 경우 "..." 처리 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

.store-info h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333333;
    overflow: hidden; /* 넘치는 콘텐츠 숨기기 */
    text-overflow: ellipsis; /* 넘칠 경우 "..." 처리 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

.store-info p {
    margin: 5px 0;
    color: #666666;
    font-size: 14px;
    overflow: hidden; /* 넘치는 콘텐츠 숨기기 */
    text-overflow: ellipsis; /* 넘칠 경우 "..." 처리 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #4d826a;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.pagination button.active {
    background-color: #333333;
    color: white;
}

.pagination button:hover {
    background-color: #3c6655;
    transform: scale(1.05);
}

@media (max-width: 1024px) {
    .stores {
        grid-template-columns: repeat(2, 1fr); /* 화면 크기 줄어들면 3개 */
    }
}

@media (max-width: 500px) {
    .stores {
        grid-template-columns: repeat(1, 1fr); /* 모바일에서는 2개 */
    }
}

@media (max-width: 480px) {
    .stores {
        grid-template-columns: 1fr; /* 작은 화면에서는 1개 */
    }
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
}

.modal-buttons button {
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.modal-buttons button.cancel-button {
    background-color: #aaa;
}

.modal-buttons button:hover {
    background-color: #ff4b3a;
}