.my-order-container {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
}

.my-order-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.filter-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.filter-buttons button {
    background-color: #6baf92;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

.filter-buttons button:hover {
    background-color: #519972;
}

.filter-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-form label {
    font-size: 14px;
    color: #555;
}

.filter-form input,
.filter-form select {
    padding: 8px;
    margin-left: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.error-message {
    color: red;
    text-align: center;
    margin: 10px 0;
}

.order-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
    gap: 20px;
    justify-content: center;
    align-items: start;
    padding: 20px;
    grid-template-rows: auto;
    transition: grid-template-columns 0.3s ease-in-out;
}

.order-card {
    background: #fff;
    border: 2px dashed #ccc;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%;
    max-height: 230px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.order-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.order-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.order-header h3 {
    font-size: 18px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.order-header span {
    font-size: 14px;
    color: #888;
}

.order-details p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.order-details strong {
    color: #333;
}

.order-status {
    background-color:transparent;
    color: red;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid red;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination button {
    background-color: #b3b3b3;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination button.active {
    background-color: #6baf92;
    font-weight: bold;
}

.pagination button:hover {
    background-color: #6baf92;
}

.pagination button:first-child,
.pagination button:last-child {
    background-color: transparent; 
    border: none;     
    padding: 5px 10px;             
    cursor: pointer;            
    color: #999;                   
    font-size: 16px;                  
}

.pagination button:first-child:hover,
.pagination button:last-child:hover {
    color: #555;                 
}

/* Responsive layout */
@media (max-width: 1200px) {
    .order-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .order-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .filter-buttons {
        margin: 5px auto;
    }

    .filter-buttons button {
        font-size: 10px;
    }

    .order-grid {
        grid-template-columns: 1fr;
    }
}
