.store-detail-container {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    background-color: #FDF9ED;
    min-height: 100vh;
    overflow: auto;
    align-content: center;
    justify-content: center;
}

.store-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6BAF92;
    color: white;
    padding: 20px 20px;
    width: 100%;
}

.store-image-wrapper {
    flex: 0 0 250px;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    overflow: hidden;
}

.store-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지 크기를 고정된 컨테이너에 맞게 조정 */
}

.detail-store-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-size: 1rem;
    color: #333;
    flex: 1; /* 남은 공간을 사용 */
    max-width: 600px; /* 최대 너비 설정 */
    min-width: 400px; /* 최소 너비 설정 */
}

.detail-store-info h2 {
    margin: 0 0 10px;
    font-size: 1.8rem;
    font-weight: bold;
}

.detail-store-info p {
    margin: 4px 0;
    line-height: 1.6;
}

.detail-store-info p:first-child {
    font-weight: bold;
}

.detail-store-info p span {
    font-weight: normal;
    font-size: 0.9rem;
    color: #666;
}

.store-info-container {
    position: relative; /* 즐겨찾기 버튼의 절대 위치를 기준으로 설정 */
    display: flex;
    gap: 20px;
    margin-top: 40px;
    padding: 20px;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    max-width: 1000px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.add-bookmark-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 2rem; /* 별 크기 */
    color: gray; /* 기본 색상 */
    cursor: pointer;
    transition: color 0.3s ease;
    outline: none;
}

.add-bookmark-btn.bookmarked {
    color: rgb(255, 247, 0);
}

.add-bookmark-btn:hover {
    color: rgb(206, 199, 0);
}

.tabs-container {
    display: flex;
    border-bottom: 2px solid #ddd;
    width: 100%;
    max-width: 1000px;
}

.tab-button {
    flex: 1;
    padding: 12px 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background: none;
    border: none;
    color: #6BAF92;
}

.tab-button.active {
    color: #fff;
    background-color: #6BAF92;
    border-bottom: 3px solid #6BAF92;
}

.tab-content {
    padding: 20px 0;
    width: 100%;
    max-width: 1000px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.menu-list,
.review-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.menu-item,
.review-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
}

.menu-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.no-menu-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    min-height: 400px; 
}

.no-menu-icon {
    width: 150px; 
    height: 150px;
    margin-bottom: 10px;
}

.daily-menu p {
    font-size: 18px;
    color: #666;
}

.no-reviews-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    min-height: 400px; 
}

.no-reviews-icon {
    width: 150px; 
    height: 150px;
    margin-bottom: 10px;
}

.no-reviews-message p {
    font-size: 18px;
    color: #666;
}

.quantity-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-input {
    width: 60px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.add-to-cart-btn {
    padding: 10px 20px;
    background-color: #6BAF92;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart-btn:hover {
    background-color: #589d7e;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.dailypaginationbtn {
    padding: 10px 15px;
    background-color: #6BAF92;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.dailypaginationbtn:hover {
    background-color: #5AA081;
}

.dailypaginationbtn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.cart-summary {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    padding: 20px;
    background-color: white;
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-summary h3 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.cart-summary ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart-summary li {
    margin: 5px 0;
    font-size: 1rem;
}

.store-left {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    height: auto;
}

.store-right {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    height: auto;
}
