.suggestions-list {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 80%;
    padding: 12px;
    margin: 15px auto;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.suggestions-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.suggestions-list li {
    text-align: left;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.suggestions-list li:hover {
    background-color: #f1f1f1;
}

.suggestions-list strong {
    font-size: 16px;
    color: #333;
}

.suggestions-list br {
    display: block;
    font-size: 14px;
    color: #666;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* 모달 내용 */
.modal-content {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    padding: 20px 30px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    animation: fadeIn 0.3s ease-in-out;
}

.modal-content h3 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
}

.modal-content p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #555555;
}

.modal-input {
    width: 100%; 
    max-width: 350px;
    padding: 10px 15px;
    margin-bottom: 20px; 
    font-size: 16px; 
    border: 1px solid #cccccc;
    border-radius: 10px; 
    transition: all 0.3s ease-in-out;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.modal-buttons button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.confirm-button {
    background-color: #6BAF92;
    color: white;
}

.confirm-button:hover {
    background-color: #519972;
}

.cancel-button {
    background-color: #e0e0e0;
    color: #333333;
}

.cancel-button:hover {
    background-color: #d6d6d6;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}