body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%; 
  overflow-x: hidden;
}

.home-screen {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero-section {
  position: relative;
  height: 100vh;
  background: url('C:\mini_project\ECOEATS\React_customer\public\img\food.jpg') no-repeat center center/cover;
  width: 100%;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* 불투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
  color: white;
  padding: 60px;
}

.hero-title {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.hero-subtitle-small {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%; /* 버튼 컨테이너가 부모의 너비를 꽉 채우도록 설정 */
}

.start-button,
.secondary-button {
  padding: 18px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%; /* 버튼 너비를 100%로 설정 */
  max-width: 300px; /* 최대 너비 설정 */
}

.start-button {
  background-color: #6BAF92;
  color: white;
}

.start-button:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.secondary-button {
  background-color: #b0b0b0;
  color: white;
}

.secondary-button:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.description-section {
  margin: 0;
  padding-top: 40px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  background-color: #FDF9ED;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.description-section h2 {
  font-size: 40px;
}

.features-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4d826a; /* 새 배경색 추가 (밝은 회색으로 설정) */
  padding: 50px 20px;
}

.features-section h2 {
  font-size: 40px;
  color: #FDF9ED;
  text-align: center;
}

.features-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 800px;
  margin-bottom: 30px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px; 
}

.feature-item {
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-out;
}

.feature-item.visible {
  opacity: 1;
  transform: translateY(0);
}

.feature-item h3 {
  font-size: 1.5rem;
  color: #FDF9ED;
  margin-bottom: 10px;
}

.feature-item p {
  font-size: 1rem;
  color: white;
}

.features-image {
  width: 100%;
  max-width: 1000px;
  overflow: hidden;
  text-align: center;
  margin-top: 20px;
  margin: 0; /* 여백 제거 */
  padding: 0; /* 여백 제거 */
}

.features-image img {
  width: 100%;
  border-radius: 10px;
  display: block; 
}
