body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-screen {
  display: flex;
  flex-direction: column;
}

.hero-section {
  position: relative;
  height: 90vh;
  background: url('C:\mini_project\ECOEATS\React_customer\public\img\food.jpg') no-repeat center center/cover;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* 불투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
  color: white;
  padding: 60px;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.hero-subtitle-small {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.button-container {
  display: flex;
  flex-direction: column; /* 세로로 정렬 */
  align-items: center; /* 세로 정렬 후 중앙 정렬 */
  gap: 15px; /* 버튼 사이 간격 */
}

.start-button,
.secondary-button {
  padding: 12px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 300px;
}

.start-button {
  background-color: #6BAF92;
  color: white;
}

.start-button:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.secondary-button {
  background-color: #b0b0b0;
  color: white;
}

.secondary-button:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.description-section {
  padding: 65px 30px;
  text-align: center;
  background-color: #FDF9ED;
}

.description-section img {
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.features-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  position: relative;
  background-color: #FDF9ED;
}

.features-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 800px;
  margin-bottom: 30px;
}

.feature-item {
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-out;
}

.feature-item.visible {
  opacity: 1;
  transform: translateY(0);
}

.feature-item h3 {
  font-size: 1.5rem;
  color: #6BAF92;
  margin-bottom: 10px;
}

.feature-item p {
  font-size: 1rem;
  color: #555;
}

.features-image {
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  text-align: center;
}

.features-image img {
  width: 300px;
  border-radius: 10px;
}




